@model UserProfile

@{
    ViewData["Title"] = "J. Doe profile page";
}

<h1>Profile Page</h1>

<div class="container text-center">
    <h4>User Profile</h4>
    <hr />
    <div class="row">
        <div class="col align-self-start">
            <strong>@Html.DisplayNameFor(model => model.UserProfileId):</strong>
            <p>@Model.UserProfileId</p>
        </div>
        <div class="col align-self-start">
            <strong>@Html.DisplayNameFor(model => model.FullName):</strong>
            <p>@Model.FullName</p>
        </div>
        <div class="col align-self-start">
            <strong>@Html.DisplayNameFor(model => model.Email):</strong>
            <p>@Model.Email</p>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-start">
            <strong>@Html.DisplayNameFor(model => model.PhoneNumber):</strong>
            <p>@Model.PhoneNumber</p>
        </div>
        <div class="col align-self-start">
            <strong>@Html.DisplayNameFor(model => model.ImageUrl):</strong>
            <p>@Model.ImageUrl</p>
        </div>
        <div class="col align-self-start">
            <strong>@Html.DisplayNameFor(model => model.GitHubUrl):</strong>
            <p>@Model.GitHubUrl</p>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-start">
            <strong>Skilled Languages:</strong>
            <ul class="list-unstyled">
                @foreach (string languageSkill in Model.SkilledLanguages)
                {
                    <li>@languageSkill</li>
                }
            </ul>
        </div>
    </div>
</div>


